.onecollist{list-style-position:outside;margin:0ex;padding:0ex;}
.onecolitem{margin:1ex 0ex 1ex 4ex;padding:0ex;}
.itemize{list-style-type:none;margin:0ex;padding:0ex;}
.itemize.nested{margin-left:4ex;}
.li-itemize{margin:1ex 0ex 2ex 0ex;padding:0ex;}
.thefootnotes{text-align:left;margin:0ex;}
.dt-thefootnotes{margin:0ex;float:left;clear:left;}
.dd-thefootnotes{margin:0ex 0ex 0ex 3ex;}
.row{display:flex;}
.flushleft{flex:auto;}
.flushright{flex:initial;text-align:right;width:fit-content;white-space:nowrap;}
.skill{background-color:hsl(252, 50%, 90%);border-radius:1ex;padding-inline:0.8ex;margin:0.1ex 0.2ex;display:inline-flex;font-size:small;}
h1.subsection{font-size: 1.125em;font-weight:bold;}
h2.subsection{font-size: 1em;font-weight:bold;}
html{font-family:'Source Sans Pro';text-align:justify;}
hr{margin: 4ex 0 2ex 0;}
blockquote{margin:0;padding:0 1ex;background:hsl(252, 50%, 90%);border-left:1ex solid hsl(252, 50%, 80%);border-radius:1ex;}
blockquote p{display:inline-block;margin:1ex;text-indent:2ex;}